body, html {
    background-image: url(../images/psychicpic.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Macondo Swash Caps', cursive !important;
}
nav{
    background-color: rgba(69, 26, 170, 0.5);
    width: 100%;
    text-align: center;
}
h1 {
    font-variant: small-caps;
    padding: 5px;
    color: rgb(243, 221, 98);
    font-size: 70px !important;
    text-shadow: -2px -2px 0 rgb(249, 250, 221),
    2px -2px 0 rgb(0, 33, 39),
    -2px 2px 0 rgb(0, 4, 5),
    2px 2px 0 rgb(132, 68, 168);
    /* -3px 0 0 rgba(1, 96, 116, 1),
    3px 0 0 rgba(1, 96, 116, 1),
    0 -3px 0 rgba(1, 96, 116, 1),
    0 3px 0 rgba(1, 96, 116, 1); */
    margin-left: 50px;
}

#second-header {
    margin-left: 490px; 
    margin-top: 15px;   
    font-size: 35px;
    color: rgb(243, 221, 98);
}
.game-area{
    margin-left: 100px;
    margin-top: 60px;
    font-size: 40px;
}
.fa-star-of-david{
    font-size: 40px;
    color: rgb(243, 221, 98);
    margin-left: 55px;
    margin-right: 40px;
    text-shadow: 
    2px -2px 0 rgb(0, 33, 39),
    -2px 2px 0 rgb(0, 4, 5),
    2px 2px 0 rgb(132, 68, 168);
}
.fa-eye{
    font-size: 40px;
    color: rgb(243, 221, 98);
    margin-left: 75px;
    margin-right: 40px;
    text-shadow: 
    2px -2px 0 rgb(0, 33, 39),
    -2px 2px 0 rgb(0, 4, 5),
    2px 2px 0 rgb(132, 68, 168);
}
.fa-sun{
    font-size: 40px;
    color: rgb(243, 221, 98);
    margin-left: 75px;
    margin-right: 60px;
    text-shadow: 
    2px -2px 0 rgb(0, 33, 39),
    -2px 2px 0 rgb(0, 4, 5),
    2px 2px 0 rgb(132, 68, 168);
}
.fa-hand-paper{
    font-size: 40px;
    color: rgb(243, 221, 98);
    margin-left: 75px;
    margin-right: 40px;
    text-shadow: 
    2px -2px 0 rgb(0, 33, 39),
    -2px 2px 0 rgb(0, 4, 5),
    2px 2px 0 rgb(132, 68, 168);
}
.fa-moon{
    font-size: 40px;
    color: rgb(243, 221, 98);
    margin-left: 75px;
    margin-right: 40px;
    text-shadow: 
    2px -2px 0 rgb(0, 33, 39),
    -2px 2px 0 rgb(0, 4, 5),
    2px 2px 0 rgb(132, 68, 168);
}
.fa-ankh{
    font-size: 40px;
    color: rgb(243, 221, 98);
    margin-left: 75px;
    text-shadow: 
    2px -2px 0 rgb(0, 33, 39),
    -2px 2px 0 rgb(0, 4, 5),
    2px 2px 0 rgb(132, 68, 168);
}

h4 {
    margin-left: 60px;
    padding-bottom: 10px;
    padding: 10px;
    font-size: 40px;
    color: white;
}

footer {
    position: fixed;
    color: white;
    left: 0;
	bottom: 0;
	width: 100%;
    padding: 30px;
    font-size: 12px;
	text-align: center;
}
